<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean name="beanpessoa" class="br.com.spring.beans.BeanPessoa">
		<constructor-arg value="AndreThunder"/>
		<constructor-arg value="andre.desenvolvedor@gmail.com"/>
	</bean>
</beans>